#jumbo {

    background-image: url("../images/logobg.jpg");
    border-bottom: rgb(54, 52, 52);
    text-align: center;
}

.display-4 {


    font-family: 'Bowlby One SC', cursive;
    font-size: 50pt;
    color: firebrick;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    text-align: center;

}

.btn {

    font-family: 'Fjalla One', sans-serif;


}

.lead {


    font-family: 'Bowlby One SC', cursive;
    font-size: 20pt;
    color: gray;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

}

.question {

    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 20pt;
    text-align: center;



}

p4 {

    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 50pt;
    text-align: left;

}

#right {

    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 20pt;
    text-align: right;

}

p2 {

    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 20pt;
    text-align: center;

}

p3 {

    font-family: 'VT323', monospace;
    color: red;
    font-size: 100pt;
    text-align: center;

}

body {


    background-color: black;
}